:root {
  --Bright-orange: hsl(31, 77%, 52%);
  --Dark-cyan: hsl(184, 100%, 22%);
  --Very-dark-cyan: hsl(179, 100%, 13%);
  --Transparent-white: hsla(0, 0%, 100%, 0.75);
  --Very-light: hsl(0, 0%, 95%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--Very-light);
}

main {
  width: 70%;
}

div {
  margin: 1em;
}

div img {
  margin-bottom: 2em;
}

button {
  padding: 1em 2.5em;
  border-radius: 2em;
  border: none;
  margin-bottom: 1em;
}

main .card-01 {
  background-color: var(--Bright-orange);
  padding: 2em;
  border-top-left-radius: 0.5em;
  border-top-right-radius: 0.5em;
}

h1 {
  color: var(--Very-light);
  font-family: "Big Shoulders Display", cursive;
  font-weight: 700;
  text-transform: uppercase;
}

p {
  width: 95%;
  color: var(--Transparent-white);
  text-align: left;
  margin-bottom: 1.5em;
  font-family: "Lexend Deca", sans-serif;
  line-height: 1.8;
  font-weight: 400;
  font-size: 15px;
}

main .card-02 {
  background-color: var(--Dark-cyan);
  padding: 2em;
  margin-top: -16px;
}

main .card-03 {
  background-color: var(--Very-dark-cyan);
  padding: 2em;
  margin-top: -16px;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}

.card-01 button {
  color: var(--Bright-orange);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.card-02 button {
  color: var(--Dark-cyan);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.card-03 button {
  color: var(--Very-dark-cyan);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
  letter-spacing: 0.5px;
}
button:hover {
  background-color: rgb(199, 198, 198);
  text-decoration: underline;
  cursor: pointer;
}
@media only screen and (min-width: 700px) {
  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  div {
    margin: 0;
  }

  main .card-01 {
    border-top-left-radius: 0.5em;
    border-bottom-left-radius: 0.5em;
    border-top-right-radius: 0;
    margin-bottom: 1em;
  }

  main .card-03 {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0.5em;
    border-top-right-radius: 0.5em;
  }
  button {
    margin-top: 3.5em;
    margin-bottom: 1em;
  }

  p {
    width: 86%;
  }
}
